* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(221, 161, 171),rgb(189, 174, 174));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    background-color: white;
    width: 510px;
    padding: 5px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    box-shadow: 0px 20px 20px grey;
}

.container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    letter-spacing: 1px;
}

#mine{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#mine1{
    position: absolute;
    top: 15%;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.inptsss {
    display: flex;
    gap: 10px;
}

.inptsss div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#small {
    font-size: 1.5rem;
}

#result,
#inputValue {
    height: 40px;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 7px;
    outline: none;
    padding: 0 10px;
    font-weight:600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn {
    height: 45px;
    font-size: 1.5rem;
    font-weight: 600;
    background-image: linear-gradient(rgb(233, 33, 66),rgb(151, 36, 36));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#btn:hover {
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(108, 108, 255);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.resultss {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: relative;
    bottom: 15px;
}

#type1,
#type2 {
    height: 41px;
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
}

label {
    font-size: 17px;
    font-family: -webkit-pictograph;
    color: gray;
}
